@-moz-document url("about:newtab") {               
/*這是改about:newtab*/              
#newtab-search-container { display:none!important;} /*隱藏搜尋列*/

#newtab-grid{height:500px!important;} /*隱藏搜尋列*/           
                   
#newtab-margin-top{padding-bottom: 180px !important;}   
/*#newtab-margin-bottom{background-color: transparent!important;}*/

#newtab-vertical-margin{
    background-color: black!important;
    background: -moz-linear-gradient(top,rgba(0,0,0,0.8),rgba(0,0,0,1))!important;}
                 
.newtab-cell{
    background-color: #707070!important;
    height: 60px !important; width:250px !important;
    border: none !important;
    border-bottom: #FF9900 8px solid !important;/*橘色*/
    margin: 15px 20px 15px 20px !important;
    }
                                  
.newtab-title:hover{
    background-color: #606060!important;
}
                   
.newtab-title{
    font-size: 250%!important;
    /*top:134px;*/
    /*color: black !important;*/
    color: black !important;
    text-shadow: 2px 2px 2px #d3d3d3 !important;
    background-color: transparent !important;
    /*background-image: -moz-linear-gradient(top,  rgba(95,107,114,.7) 0%, rgba(194,203,203,0.5) 95%, rgba(251,253,253,0.05) 100%), 
    -moz-linear-gradient( left, rgba(0,9,9,.5), rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0,9,9,.25))!important;*/
    -webkit-text-stroke: 0.02em !important;
    padding-top: 10px !important;    
    padding-bottom: 10px !important;
    /*border: 1px solid;*/
    -moz-border-top-colors: transparent !important;
    -moz-border-right-colors: transparent !important;
    -moz-border-left-colors: transparent !important;
    -moz-border-bottom-colors: transparent !important;
}    

                   
.newtab-thumbnail {display:none !important;}      /*不顯示縮圖*/ 
 } /*改about:newtab結束*/           